efficientvit_l3_300d/
__pycache__
*.pyc
.vscode
dist_test.sh
dist_train.sh
weights/
detection/data
detection/eformer_l/
detection/eformer_s2/
segmentation/data
segmentation/work_dirs/
detection/slurm_train.sh
segmentation/tools/slurm_train.sh


